VBox {
  -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.75);
    -fx-padding: 10;
    -fx-max-width: 300;
    -fx-max-height: 130;
    -fx-spacing: 10;
}

.title {
  -fx-font-weight: bold;
}

HBox {
    -fx-max-width: 300;
    -fx-spacing: 10;
}

ComboBox {
 -fx-min-width: 250;
}

Button {
-fx-min-width: 50;
}

CheckBox {
   -fx-text-fill: white;
}

Label {
  -fx-text-fill: white;
}