.root {
  -fx-background-color: royalblue;
}

.vbox {
  -fx-alignment: center;
}

.text-field {
  -fx-font: 20px "Segoe UI Semibold";
  -fx-font-weight: bold;
  -fx-text-fill: black;
  -fx-max-width: 300;
}

.button {
  -fx-font: 14px "Segoe UI Semibold";
}

.property-name {
  -fx-font: 14px "Segoe UI Semibold";
  -fx-font-weight: bold;
  -fx-text-fill: yellow;
}

.property-value {
  -fx-font: 20px "Segoe UI Semibold";
  -fx-font-weight: bold;
  -fx-text-fill: white;
}
