.stack-pane VBox {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-padding: 10;
    -fx-max-width: 150;
    -fx-min-width: 150;
    -fx-min-height: 120;
    -fx-max-height: 120;
    -fx-spacing: 10;
}

.stack-pane Button {
    -fx-display: block;
    -fx-min-width: 130;
}

.stack-pane ToggleButton {
    -fx-display: block;
    -fx-min-width: 65;
}